.profile {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 2rem;
}
.logout-btn {
  font-size: 1.2rem;
  padding: 0.5rem 0;
  margin: 1rem 0;
  width: 100%;
  color: white;
  background-color: #454545;
  border: 0.4rem solid rgba(169, 162, 156, 0.518);
  border-radius: 10rem;
  cursor: pointer;
  transition: all 0.2s ease;
  text-align: center;
}
.logout-btn:active {
  transform: scale(1.2);
}

.profile button {
  width: 10rem;
  color: white;
  text-decoration: none;
}
