.sign-login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
  background-color: #a9a29c84;
  /* background-color: #45454567; */
}
.sign-login--heading {
  margin-bottom: 1rem;
}
.sign-login--btn {
  font-size: 1.2rem;
  padding: 0.5rem 0;
  margin: 0.5rem 0;
  width: 12rem;
  color: white;
  background-color: #454545;
  border: 0.4rem solid #a9a29c84;
  border-radius: 10rem;
  cursor: pointer;
  transition: all 0.2s ease;
  text-align: center;
  text-decoration: none;
}
.sign-login--btn:active {
  transform: scale(1.2);
}

.sign-login--btn-dark {
  color: #454545;
}
.sign-login--dark {
  background-color: #292929;
}

/* login */

.login-form--container {
  display: flex;
  justify-content: center;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #a9a29c84;
  padding: 1rem 2rem;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}
.login-form label {
  align-self: flex-start;
  font-size: 1.2rem;
  margin: 0.5rem 0;
}

.login-form input {
  padding: 0.5rem;
  font-size: 1.2rem;
}
.login-form a {
  width: 100%;
}
.login-form button {
  font-size: 1.2rem;
  padding: 0.5rem 0;
  margin: 1rem 0;
  width: 100%;
  color: white;
  background-color: #454545;
  border: 0.4rem solid rgba(169, 162, 156, 0.518);
  border-radius: 10rem;
  cursor: pointer;
  transition: all 0.2s ease;
  text-align: center;
  text-decoration: none;
}
.login-form button:active {
  transform: scale(1.2);
}

/* signup */

.signup-form--container {
  display: flex;
  justify-content: center;
}

.signup-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #a9a29c84;
  padding: 1rem 2rem;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}

.signup-form label {
  align-self: flex-start;
  font-size: 1.2rem;
  margin: 0.5rem 0;
}

.signup-form input {
  padding: 0.5rem;
  font-size: 1.2rem;
}
.signup-form a {
  width: 100%;
}
.signup-form button {
  font-size: 1.2rem;
  padding: 0.5rem 0;
  margin: 1rem 0;
  width: 100%;
  color: white;
  background-color: #454545;
  border: 0.4rem solid rgba(169, 162, 156, 0.518);
  border-radius: 10rem;
  cursor: pointer;
  transition: all 0.2s ease;
  text-align: center;
}
.signup-form button:active {
  transform: scale(1.2);
}
.singup-btn {
  text-decoration: none;
  color: white;
}

/* media query start here... */

@media screen and (max-width: 450px) {
  .login-form {
    width: 100%;
  }
  .signup-form {
    width: 100%;
  }
}
