@use "../style/abstract/mixins" as mixins;

.form-input {
  @include mixins.flex_col;
  width: 100%;
}

.error-message {
  display: none;
  align-self: flex-start;
  color: orangered;
  margin: 0.5rem 0;
}

.form-input input:invalid[data-focused="true"] ~ .error-message {
  display: block;
}
