.form-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: aquamarine; */
  width: 100%;
}

.error-message {
  display: none;
  color: orangered;
  align-self: flex-start;
  margin: 0.5rem 0;
}

.form-input input:invalid[data-focused="true"] ~ .error-message {
  display: block;
}
