@use "../../style/abstract/variable" as var;
@use "../../style/abstract/mixins" as mixins;

.sign-login {
  @include mixins.flex_col;
  padding: 2rem 0;
  background-color: #a9a29c84;

  &--heading {
    margin-bottom: 1rem;
  }
  &--btn {
    font-size: 1.2rem;
    padding: 0.5rem 0;
    margin: 0.5rem 0;
    width: 12rem;
    color: white;
    background-color: var.$grey-color-01;
    border: 0.4rem solid #a9a29c84;
    border-radius: 10rem;
    transition: all 0.2s ease;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
  }
  &--btn:active {
    transform: scale(1.2);
  }
  &--btn-dark {
    color: var.$grey-color-01;
  }
  &--dark {
    background-color: #292929;
  }
}
